@tailwind base;
@tailwind components;
@tailwind utilities;

*:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {

  scroll-behavior: smooth;
	scrollbar-width: auto;
	scrollbar-color: #ffffff40;
}

html,body{
  overflow-x: hidden;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: rgb(24, 22, 22);
}

::-webkit-scrollbar-thumb {
  background-color: #2cb67d60;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: #2cb67d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}